/* MAIN PAGE - ALL PLANETS */

html {
    margin: 25px;
}

button {
    width: 180px;
    height: 30px;
    cursor: pointer;
}

.container {
    width: 1200px;
}

* {
    font-family: "Arial Narrow", sans-serif;
    box-sizing: border-box;
}

#planets {
    width: 100%;
    margin: 20px auto;
}

#planets, td, th {
    border-collapse: collapse;
}


/* PAGE WITH DETAILS */

#residents-table {
    width: 80%;
    margin: 20px auto;
    table-layout: auto;
}

#residents-table, td, th {
    border-collapse: collapse;
}

.header-residents {
    text-transform: uppercase;
    text-align: center;
}

th, td {
    padding: 5px;
    border: solid 1px;
    border-color: #c4c4c4;
    text-align: center;
}

.close-modal {
    position: absolute;
    top: -5%;
    right: 0;
    font-size: 25px;
    color: black;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3pt 5pt rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 5;
}

.residents-title {
    font-size: 20px;
}

.disabled {
    border: none;
}

.disabled:disabled {
    color: black;
}

.signed-as {
    font-weight: bold;
    color: #668686;
}


/* MAIN PAGE WITH NAVBAR */

.header {
    padding: 5px 0 0 0;
    margin: 0;
    color: #ffffff;
    background: #0b0c10 url("https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-35.jpg") no-repeat center;
    background-size: cover;
}

.header h1 {
    text-align: center;
    font-size: 50px;
}

.header-logo-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

.after-header {
    background-color: #323232;
    margin-bottom: 50px;
    margin-top: 50px;
}

.after-header .after-header-wrap {
    list-style: none;
    width: 90%;
    max-width: 1600px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.after-header .after-header-wrap a:link, .after-header .after-header-wrap a:visited {
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    margin: 0;
    color: #ffffff;
}

.after-header .after-header-wrap a:hover {
    color: #2c5151;
}


/* LOGIN AND REGISTRATION PAGES */

.box-card-profile {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    line-height: 1.5;
}

.main-card-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
}

.main-card-profile-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.main-card-profile-body {
    overflow: hidden;
    width: 500px;
    background-color: #ececec;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 10px 12px 10px -10px rgba(0, 0, 0, 0.25);
    line-height: 1.5;
}

.page-titles {
    text-align: center;
}

.alert-size {
    width: 500px;
    height: 50px;
    margin: 0 auto;
}

.alert {
    padding: 20px;
    background-color: #7f9190;
    color: white;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.closebtn:hover {
    color: black;
}

.modal-alert {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 10;
}

.user_sign_in_as {
    margin-left: auto;
}

