<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="#">
    <title>API WARS</title>
</head>

<body>
<nav>
    <ul>
        <li>
            <a href="{{ url_for('registration_page') }}">REGISTRATION</a>
        </li>
        <li>
            <a href="{{ url_for('login_page') }}">LOGIN</a>
        </li>
    </ul>
</nav>
{% block body %}

{% endblock %}

<script src="static/js/app.js"></script>

</body>
</html>