<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="#">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>API WARS</title>
</head>

<body>
<header class="header">
    <div class="header-logo-wrapper">
        <div><h1 class="header-1">STAR WARS UNIVERSE</h1></div>
    </div>

    <nav class="after-header">
        <ul class="after-header-wrap">
            <li>
                <a href="{{ url_for('index_page') }}">HOME</a>
            </li>
            <li>
                <a class="" href="{{ url_for('index_page') }}">PLANET LIST</a>
            </li>
            <li>
                <a href="" id="voting-statistics">VOTING STATISTICS</a>
            </li>
            {% if 'username' not in session %}
            <li>
                <a href="{{ url_for('registration_page') }}">REGISTRATION</a>
            </li>
            <li>
                <a href="{{ url_for('login_page') }}">LOGIN</a>
            </li>
            {% endif %}
            {% if 'username' in session %}
            <li>SIGNED IN AS <span class="signed-as">{{session['username']}}</span></li>
            <li>
                <a href="{{ url_for('logout') }}">LOGOUT</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
{% for message in get_flashed_messages() %}
<div class="modal-alert">
    <div class="alert-size">
        <div class="page-titles">
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>{{message}}</strong>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<br>
{% block body %}

{% endblock %}

<script src="static/js/app.js"></script>

</body>
</html>