{% extends "layout.html" %}

{% block content %}

<h1>STAR WARS UNIVERSE</h1>
<div>
    <button>PREVIOUS</button>
    <button>NEXT</button>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>NAME</th>
            <th>DIAMETER</th>
            <th>CLIMATE</th>
            <th>TERRAIN</th>
            <th>SURFACE WATER</th>
            <th>POPULATION</th>
            <th>RESIDENTS</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}