{% extends 'layout.html' %}

{% block body %}

<h1>STAR WARS UNIVERSE</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th scope="col">Name</th>
            <th scope="col">Diameter</th>
            <th scope="col">Climate</th>
            <th scope="col">Terrain</th>
            <th scope="col">Surface Water</th>
            <th scope="col">Population</th>
            <th scope="col">Residents</th>
            <th scope="col">Vote</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


{% endblock %}