{% extends 'layout.html' %}

{% block body %}

<h1>STAR WARS UNIVERSE</h1>

<div class="container" id="allPlanets">

    <div class="modal hidden">
        <div id="header"></div>
        <button class="close-modal">&times;</button>
        <header id="header-residents"></header>
        <table id="residents-table">
        </table>
    </div>

    <div class="overlay hidden"></div>

    <div class="table_buttons">
        <button class="previous" disabled>PREVIOUS</button>
        <button class="next">NEXT</button>
    </div>

    <table id="planets">
    </table>

</div>


{% endblock %}